<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
        Hello World!<br/><br/>
        <div class="container">
  <h2>Simple Collapsible</h2>
  <a href="#demo" class="btn btn-info" data-toggle="collapse">Simple collapsible</a>
  <div id="demo" class="collapse">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RBumgq5yVrA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>